HOST=127.0.0.1
PORT=80
APP_URL=http://127.0.0.1

# SMTP-Konfiguration für Erinnerungs-E-Mails
SMTP_HOST=smtp.example.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=
SMTP_PASS=
SMTP_FROM="Elternzeugnis <noreply@example.com>"
